* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #179d54;
  padding: 1em;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3em;
}

.buttons {
  display: flex;
  gap: 1em;
}

.buttons-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  width: 100px;
}

.buttons-button img {
  width: 100%;
  object-fit: contain;
}

.section-img {
  object-position: center;
  width: 100%;
  max-width: 400px;
}